@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: visible;
	overflow-x: hidden;
	background-color: #EFF4F7;
}

#container {
	height: 100vh;
	width: 700%;
	display: flex;
	flex-wrap: nowrap;
}

.horizontal-section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Header logo */
.header {
	position: absolute;
	top: 16px;
	left: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerX {
	margin: 0;
	padding: 10;
}

.header img:first-child {
	width: 125px;
	height: auto;
	margin-right: 16px;
}

.header img:last-child {
	margin-left: 16px;
	width: 35px;
	height: auto;
}

.horizontal-section:nth-child(1) {
	background-image: url("/img/Back_0.png");
}

.horizontal-section:nth-child(2) {
	background-image: url("/img/Back_1.png");
}

.horizontal-section:nth-child(3) {
	background-image: url("/img/Back_2.png");
}

.horizontal-section:nth-child(4) {
	background-image: url("/img/Back_3.png");
}

.horizontal-section:nth-child(5) {
	background-image: url("/img/Back_4.png");
}

.horizontal-section:nth-child(6) {
	background-image: url("/img/Back_5.png");
}

.horizontal-section:nth-child(7) {
	background-image: url("/img/Back_6.png");
}

.content {
	flex: 1;
	margin-right: 40px;
	margin-left: 80px;
}

/* Titles */
.heading {
	font-family: "rounded mplus 1c", sans-serif;
	font-size: 3vw;
	font-weight: 300;
	color: black;
	letter-spacing: 1vw;
	padding-bottom: 8px;
}

.headingh3 {
	font-family: "rounded mplus 1c", sans-serif;
	font-size: 2vw;
	font-weight: 300;
	color: black;
	letter-spacing: 1vw;
	text-align: center;
	max-width: 600px;
}

.headingh4 {
	font-family: "rounded mplus 1c", sans-serif;
	font-size: 3vw;
	font-weight: 300;
	color: black;
	letter-spacing: 1vw;
	font-weight: bolder;
	padding-bottom: 2em;
}

.headingbold {
	font-family: "rounded mplus 1c", sans-serif;
	font-size: 3vw;
	font-weight: bold;
	color: black;
	letter-spacing: 1vw;
	text-align: center;
}

.headinglight {
	font-family: "rounded mplus 1c", sans-serif;
	font-size: 3vw;
	font-weight: bolder;
	color: black;
	letter-spacing: 1vw;
}

.horizontal-section p {
	font-family: "rounded mplus 1c", sans-serif;
	padding: 10;
	font-size: 16px;
	color: black;
}

.image-column {
	flex: 1;
}

.image-column2 {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.bottom-image-container {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Column Image Center*/
.centered-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.image-container {
	margin-top: 20px;
}

/* Section 6 */
.content-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.column {
	flex-basis: 50%;
}

.column.image-column {
	align-self: flex-start;
	text-align: right;
}

.text-content {
	width: 80%;
	padding-bottom: 7em;
}

.heading {
	white-space: nowrap;
}

.bottom-text-content {
	text-align: right;
}

.image-content {
	text-align: right;
}

/* Vidéo conteneur */
.video-container {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.video-container video {
	width: 100%;
	height: auto;
	display: block;
}

.overlay-image {
	position: absolute;
	top: 30%;
	transform: translateX(-55%);
	z-index: 1;
}